<div class="container text-center main-height">

  <u><h1 class="m-5">管理者ログイン</h1></u>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <h4 class="field mb-4">
      <%= f.label :"▷メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </h4>

    <h4 class="field mb-5">
      <%= f.label :"▷パスワード" %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </h4>


   <%= image_submit_tag("ログイン.png") %>

  <% end %>

  <%= render "admin/shared/links" %>

  <div class="fixed-bottom float-left">
   <%= link_to about_path do %>
     <%= image_tag "トップに戻る.png" %>
   <% end %>
 </div>

</div>
