<div class="container text-center main-height">

  <u><h1 class="pt-5 pb-4">通知一覧</h1></u>

  <div class="row justify-content-end mr-4">
  　<%= link_to notifications_destroy_all_path, style: "text-decoration-line: none;", method: :delete do %>
  　   <%= image_tag "削除.png" %>
  　<% end %>
  </div>

  <% @notifications.each do |notification| %>
    <div class="row col-9 mx-auto border mt-4 info-area background-color2">
      <div class="col-2 align-self-center">
    　  <%= link_to user_path(notification.visitor_id) do %>
         <%= image_tag notification.visitor.get_profile_image, size: "60x60", class:"rounded-circle" %>
    　 <% end %>
    　</div>
    　<div class="col-8 h4 align-self-center">
    　   <%= notification_form(notification) %></br>
    　   <%= time_ago_in_words(notification.created_at) %>前
      </div>
    </div>
  <% end %>


  <% if @notifications.blank? %>
  　<h4 class="pt-5">通知はありません。</h4>
  <% end %>

</div>