<h1>ユーザー編集</h1>

<%= form_with model: @user do |f| %>

  <%= f.file_field :profile_image, accept: "image/*" %>

  <%= f.label :account_id,"ユーザーID(6~12文字 英数字混合)" %>
  <%= f.text_field :account_id, autocomplete: "account_id" %><br />

  <%= f.label :name, "名前" %>
  <%= f.text_field :name, autocomplete: "name" %><br />

  <%= f.label :introduction, "プロフィール" %>
  <%= f.text_area :introduction %>

  <%= f.submit "編集" %>

<% end %>

