
<h1>ユーザーを探す</h1>

<%= search_form_for @q, url: users_search_path do |f| %>
  <%= f.search_field :account_id_eq %>
  <%= f.submit "ユーザー検索" %>
<% end %>


<% if @users.exists? %>
  <% @users.each do |user| %>
    <%= image_tag user.get_profile_image, size: "300x200" %>
    <p><%= user.name %></p>
    <p><%= user.account_id %></p>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
