<div class="container text-center user-top-page ">

      <% if @user.introduction? %>
      <div class="balloon1">
        <%= @user.introduction %>
      </div>
      <% end %>

    <div class="pt-4">
      <%= image_tag @user.get_profile_image,size: "200x150", size: "60x60" ,class:"rounded-circle"  %>
    </div>
    <div class="pt-4">
      <%= @user.name %>
      <%= @user.account_id %>
    </div>
    <div class="mt-4">
       <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to user_relationships_path(@user.id), method: :delete do %>
              <%= image_tag "フォロー中.png" %>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), method: :post do %>
              <%= image_tag "フォロー未.png" %>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <p class="mt-4">訪れた県： <%= @user.posts.group(:prefecture).count.keys.size %>/47県</p>
    <div class="row col-4 mx-auto">
      <p class="col-6"><%= image_tag "場所.png", size: "30x30" %> <%= @user.posts.group(:location_genre).count["location"] || 0 %>件</p>
      <p class="col-6"><%= image_tag "グルメ.png", size: "30x30" %> <%= @user.posts.group(:location_genre).count["food"] ||0 %>件</p>
    </div>
    <div class="row col-4 mx-auto">
      <p class="col-6">フォロー<%= @user.followings.count %>人</p>
      <p class="col-6">フォロワー<%= @user.followers.count %>人</p>
    </div>

    <h2 class="mt-5"><%= @user.name %>さんの投稿一覧</h2>

  <% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="row col-9 mx-auto border mt-4">
          <div class="col-5">
            <%= image_tag post.get_image,size: "300x200", class:"mt-4 mb-2" %>
            <div class="mb-3">
             <%= image_tag post.user.get_profile_image, size: "60x60" ,class:"rounded-circle" %>
             <%=  link_to post.user.name, user_path(post.user.id) %> <%= post.user.account_id %>

             <% if post.food? %>
               <%= image_tag "グルメ.png", size: "30x30" %>
             <% else %>
               <%= image_tag "場所.png", size: "30x30" %>
             <% end %>
            </div>
          </div>

            <div class="col-6 align-self-center">
              <h6>▷<%= link_to post.location_name, post_path(post.id) %></h6>

              <h6>▷<%= post.address %></h6>
              <h6>▷<%= post.memo.truncate(40) %></h6>
            </div>

             <div class="col-1 mt-4">

              <% if post.favorited_by?(current_user) %>
                <%= link_to post_favorites_path(post), method: :delete do %>
                 <%= image_tag "いいねon.png", size: "20x20" %><%= post.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(post),method: :post do %>
                 <%= image_tag "いいねoff.png", size: "20x20" %><%= post.favorites.count %>
                <% end %>
              <% end %>
             </div>
          </div>
      <% end %>
    <% else %>
      <h4 class="mt-4">投稿はありません。</h4>
    <% end %>

    <%= paginate @posts %>

</div>
