<div class="container text-center user-top-page pb-4">

      <% if @user.introduction? %>
      <div class="balloon1">
        <%= @user.introduction %>
      </div>
      <% end %>

    <div class="pt-4">
      <%= image_tag @user.get_profile_image,size: "200x150", size: "60x60" ,class:"rounded-circle"  %>
    </div>
    <h4 class="pt-4">
      <%= @user.name %>
      <%= @user.account_id %>
    </h4>
    <div class="mt-4">
       <% unless @user == current_user %>
          <% if current_user.following?(@user) %>
            <%= link_to user_relationships_path(@user.id), method: :delete do %>
              <%= image_tag "フォロー中.png" %>
            <% end %>
          <% else %>
            <%= link_to user_relationships_path(@user.id), method: :post do %>
              <%= image_tag "フォロー未.png" %>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <h4 class="mt-4">訪れた県： <%= @user.posts.group(:prefecture).count.keys.size %>/47県</h4>
    <div class="row col-4 mx-auto">
      <h4 class="col-6"><%= image_tag "場所.png", size: "30x30" %> <%= @user.posts.group(:location_genre).count["location"] || 0 %>件</h4>
      <h4 class="col-6"><%= image_tag "グルメ.png", size: "30x30" %> <%= @user.posts.group(:location_genre).count["food"] ||0 %>件</h4>
    </div>
    <div class="row col-5 mx-auto">
      <h4 class="col-6">フォロー<%= @user.followings.count %>人</h4>
      <h4 class="col-6">フォロワー<%= @user.followers.count %>人</h4>
    </div>

    <div class="pt-5">
      <% if @user == current_user %>
        <%= link_to edit_user_path(@user.id) do %>
          <%= image_tag "編集.png" %>
        <% end %>
      <% end %>
    </div>

    <u><h1 class="mt-5"><%= @user.name %>さんの投稿一覧</h1></u>

    <%= render 'posts/list', posts: @posts %>

  </div>

</div>
