

  <%= @user.introduction %>
  <!--</%= @user.image %>-->
  <%= @user.name %>
  <%= @user.account_id %>
  <p>行った件数〇/47県</p>
  <p>場所　〇件</p>
  <P>飲食店　〇件</P>
  <p>フォロー〇人</p> 
  <p>フォロワー〇人</p>



  <h2><%= @user.name %>さんの投稿一覧</h2>

<% @posts.each do |post| %>
  <%= image_tag post.image %>
  <%= post.user.name %>
  <%= post.user.account_id %>
  <%= post.location_name %>
  <%= post.address %>
  <%= post.memo %>

<% end %>
