<div><%= image_tag "NIPPONQUESTロゴ.png" %></div>
<h2>次はどこへ行く？何をする？</h2>

<div><%= image_tag "about_comment1.png" %></div>
<div><%= image_tag "about_comment2.png" %></div>

<p>そんな悩みを叶える、訪れた場所の思い出を記録・みんなと共有できるアプリです。</p>


<h3>新しい場所へ冒険してみませんか？</h3>

<%= link_to "新規会員登録", new_user_registration_path  %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "試しに使ってみる", users_guest_sign_in_path, method: :post %>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
