<div class="container text-center mb-3">

  <u><h1 class="pt-5 pb-4">投稿編集</h1></u>

  <div class="mb-5">
    <% if @post.errors.any? %>
      <h5>★<%= @post.errors.count %>件のエラーが発生しました★</h5>
        <% @post.errors.full_messages.each do |message| %>
          <div>
            <%= message %>
          </div>
        <% end %>
    <% end %>
  </div>

  <%= form_with model: @post do |f| %>

    <h4><%= f.label :location_name, "▷場所名" %></h4>
    <div class="mb-4"><%= f.text_field :location_name %></div>

    <h4><%= f.label :prefecture, "▷都道府県" %></h4>
    <div class="mb-4"><%= f.select :prefecture, Post.prefectures.keys.map {|k| [I18n.t("enums.post.prefecture.#{k}"), k]}, include_blank: "--選択して下さい--"%></div>

    <h4><%= f.label :location_genre, "▷ジャンル" %></h4>
    <div class="mb-4"><%= f.select :location_genre, Post.location_genres.keys.map {|k| [I18n.t("enums.post.location_genre.#{k}"), k]}, include_blank: "--選択して下さい--" %></div>

    <h4><%= f.label :image ,"▷写真" %></h4>
    <div class="row justify-content-center mb-4"><%= f.file_field :image, accept: "image/*" %></div>

    <div id="new-image"></div>


    <h4 class="mt-4"><%= f.label :memo, "▷メモ" %></h4>
    <div class="mb-4"><%= f.text_area :memo, size: "40x5" %></div>

    <h4>
      <%= f.radio_button :is_released, Post.is_releaseds.key(0) %>
      <%= f.label :is_released_released, Post.is_releaseds_i18n[:released] %>
      <%= f.radio_button :is_released, Post.is_releaseds.key(1) %>
      <%= f.label :is_released_not_released, Post.is_releaseds_i18n[:not_released] %>
    </h4>

    <h4 class="mt-4"><%= f.label :address, "▷住所" %></h4>
    <div class="mb-4"><%= f.text_field :address %></div>

    <div class="mb-4">
      <input id="input_address" type="textbox"  placeholder="住所、場所名">
      <%= link_to "#", onclick: "codeAddress(); return false;" do %>
        <%= image_tag '検索.png', style: 'width: 75px; height: auto;' %>
      <% end %>
    </div>

    <h4 class="mb-4">
      <%= f.label :latitude,"緯度" %>
      <%= f.text_field :latitude, id: :lat %>
      <%= f.label :longitude,"経度" %>
      <%= f.text_field :longitude, id: :lng %>
    </h4>

    <div id='map', style="margin:0 auto;"></div>

    <div class="mt-4">
      <%= image_submit_tag("編集.png") %>
    </div>

  <% end %>

</div>

<style>
#map {
  height: 400px;
  width: 400px;
}
</style>

<script>

//初期マップ（投稿した場所の地図）
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder();
  let post_lat = document.getElementById('lat').value;
  let post_lng = document.getElementById('lng').value;
  let pos = new google.maps.LatLng(post_lat, post_lng );
  let options = {
    center:  pos,
    zoom: 15,
  }
  map = new google.maps.Map(document.getElementById('map'), options);
}

//検索後のマップ作成
let geocoder
let aft
function codeAddress(){
  let inputAddress = document.getElementById('input_address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();
        document.getElementById('post_address').value = results[0].formatted_address;

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgTeNLc165-cfs1Py1tbvvfjXe2YNukGE&callback=initMap" async defer></script>