
<div class="container text-center main-height">

  <u><h1 class="pt-5 mb-5">みんなの投稿一覧</h1></u>

    <div class="d-flex justify-content-end">

      <%= search_form_for @q, url: posts_path, id: 'search_form', class: "d-flex align-items-center" do |f| %>
        <span class="mx-1">
          <%= f.select :prefecture_eq, Post.prefectures_i18n.invert.map{|key, value| [key, Post.prefectures[value]]},
                      { include_blank: t('--都道府県--') } %>
        </span>
        <span class="mx-1">
          <%= f.select :location_genre_eq, Post.location_genres_i18n.invert.map{|key, value| [key, Post.location_genres[value]]},
                      { include_blank: t('--ジャンル--') } %>
        </span>
        <span class="mx-1">
          <%= label :follow, "フォロー済みユーザー" %>
          <%= check_box_tag :follow, true, @follow %>
        </span>
        <%= image_submit_tag('検索.png', width: "75px", height: "auto", class: "mx-1") %>
      <% end %>
    </div>



 <%= render 'list', posts: @posts %>

</div>
