
<div class="container text-center">

  <h1 class="pt-5 mb-4">投稿一覧</h1>

  <div class="d-flex justify-content-end">

    <%= search_form_for @q, url: posts_path do |f| %>
      <%= f.select :prefecture_eq, Post.prefectures_i18n.invert.map{|key, value| [key, Post.prefectures[value]]},
                  { include_blank: t('--都道府県--') } %>

      <%= f.select :location_genre_eq, Post.location_genres_i18n.invert.map{|key, value| [key, Post.location_genres[value]]},
                  { include_blank: t('--場所ジャンル--') } %>

      <%= link_to "", onclick: "$('#search_form').submit()" do %>
        <%= image_tag '検索.png', style: 'width: 75px; height: auto;' %>
      <% end %>

    <% end %>
  </div>

   <%= render 'list', posts: @posts %>


</div>