<h1>新規投稿</h1>

<%= form_with model: @post do |f| %>

  <%= f.label :location_name, "場所名" %><br />
  <%= f.text_field :location_name %><br />

  <%= f.label :prefecture, "都道府県" %><br />
  <%= f.select :prefecture, Post.prefectures.keys.map {|k| [I18n.t("enums.post.prefecture.#{k}"), k]}, include_blank: "--選択して下さい--" %><br />

  <%= f.label :location_genre, "場所ジャンル" %><br />
  <%= f.select :location_genre, Post.location_genres.keys.map {|k| [I18n.t("enums.post.location_genre.#{k}"), k]}, include_blank: "--選択して下さい--" %><br />

  <%= f.label :image ,"写真" %><br />
  <%= f.file_field :image, accept: "image/*" %><br />

  <%= f.label :memo, "メモ" %><br />
  <%= f.text_area :memo %><br />


  <%= f.label :address, "住所" %><br />
  <%= f.text_field :address %><br />
  <div id='map'></div>




  <!-- googleマップから引っ張ってこれるように！ -->
  <%= f.hidden_field :latitude, value: "1" %>
  <%= f.hidden_field :longitude, value: "1" %>




  <%= f.submit "新規投稿" %>

<% end %>


<style>
#map {
  height: 600px;
  width: 800px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.709, lng:139.7319},
    zoom: 12,
  });

  marker = new google.maps.Marker({
    position:  {lat: 40.7828, lng:-73.9653},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgTeNLc165-cfs1Py1tbvvfjXe2YNukGE&callback=initMap" async defer></script>