<h1>新規投稿</h1>

<%= form_with model: @post do |f| %>

  <%= f.label :location_name, "場所名" %><br />
  <%= f.text_field :location_name %><br />

  <%= f.label :prefecture, "都道府県" %><br />
  <%= f.select :prefecture, Post.prefectures.keys.map {|k| [I18n.t("enums.post.prefecture.#{k}"), k]}, include_blank: "--選択して下さい--" %><br />

  <%= f.label :image ,"写真" %><br />
  <%= f.file_field :image, accept: "image/*" %><br />

  <%= f.label :memo, "メモ" %><br />
  <%= f.text_area :memo %><br />



  <%= f.submit "新規投稿" %>

<% end %>