<div class="container text-center user-top-page mb-4">

  <%= javascript_include_tag 'jquery.japan-map.js' %>
  <script>
    let areas = [
        <% (0..46).each do |i| %>
          {code: <%= i + 1 %>, color: '<%= @map_prefs.include?(i) ? '#D45D70' : '#f0f0f0' %>', prefectures: [<%= i + 1 %>]},
        <% end %>
      ]
    $(function(){
      $("#map-container").japanMap({
          width: 800,
          areas :areas
        });
    });
  </script>

  <div id="map-container"></div>



    <% if unchecked_notifications.any? %>
      <%= link_to notifications_path(current_user) do %>
        <%= image_tag "notifications" %>
      <% end %>
    <% else %>
      <%= link_to notifications_path(current_user) do %>
        <%= image_tag "no-notifications" %>
      <% end %>
    <% end %>

  <div class="row justify-content-around">
    <h1><%= current_user.name %>の投稿一覧</h1>
      <%= search_form_for @q, url: root_path, id: 'search_form' do |f| %>
        <%= f.select :prefecture_eq, Post.prefectures_i18n.invert.map{|key, value| [key, Post.prefectures[value]]},
                    { include_blank: t('--都道府県--') } %>

        <%= f.select :location_genre_eq, Post.location_genres_i18n.invert.map{|key, value| [key, Post.location_genres[value]]},
                    { include_blank: t('--場所ジャンル--') } %>

        <%= link_to "", onclick: "$('#search_form').submit()" do %>
          <%= image_tag '検索.png', style: 'width: 75px; height: auto;' %>
        <% end %>

      <% end %>
  </div>


<% if @posts.any? %>
      <% @posts.each do |post| %>
        <div class="row col-9 mx-auto border mt-4">
          <div class="col-5">
            <%= image_tag post.get_image,size: "300x200", class:"mt-4 mb-2" %>
            <h4 class="mb-3">
             <%= image_tag post.user.get_profile_image, size: "60x60" ,class:"rounded-circle" %>
             <%=  link_to post.user.name, user_path(post.user.id) %> <%= post.user.account_id %>

             <% if post.food? %>
               <%= image_tag "グルメ.png", size: "30x30" %>
             <% else %>
               <%= image_tag "場所.png", size: "30x30" %>
             <% end %>
            </h4>
          </div>

            <div class="col-6 align-self-center">
              <h4>▷<%= link_to post.location_name, post_path(post.id) %></h4>

              <h4>▷<%= post.address %></h4>
              <h4>▷<%= post.memo.truncate(40) %></h4>
            </div>

             <div class="col-1 mt-4">

              <% if post.favorited_by?(current_user) %>
                <%= link_to post_favorites_path(post), method: :delete do %>
                 <%= image_tag "いいねon.png", size: "20x20" %><%= post.favorites.count %>
                <% end %>
              <% else %>
                <%= link_to post_favorites_path(post),method: :post do %>
                 <%= image_tag "いいねoff.png", size: "20x20" %><%= post.favorites.count %>
                <% end %>
              <% end %>
             </div>
          </div>
      <% end %>
    <% else %>
      <h4 class="mt-4">投稿はありません。</h4>
    <% end %>

  <div class="row justify-content-center">
    <%= paginate @posts %>
  </div>

</div>