
<script src="//code.jquery.com/jquery-1.12.0.js"></script>
<%= javascript_include_tag 'jquery.japan-map.js' %>
  <script>
  $(function(){
    $("#map-container").japanMap({
        width:1200,
        onSelect : function(data){
            alert(data.name);
        }
      });
  });
  </script>

  <div id="map-container"></div>



<h1>ログインユーザーの投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image,size: "400x300" %>
    <%= post.location_name %>
    <%= post.address %>
    <%= post.memo %>
  </div>
  <div>
    <%= post.user.name %>
    <%= post.user.account_id %>
  <div>

<% end %>