<h1>ログインユーザーの投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image,size: "400x300" %>
    <%= link_to post.location_name, post_path(post.id) %>
    <%= post.address %>
    <%= post.memo %>
  </div>
  <div>
    <%= link_to post.user.name, user_path(post.user.id) %>
    <%= post.user.account_id %>
  <div>

<% end %>