<%= javascript_include_tag 'jquery.japan-map.js' %>
<script>
  let areas = [
      <% (0..46).each do |i| %>
        {code: <%= i + 1 %>, color: '<%= @map_prefs.include?(i) ? '#D45D70' : '#f0f0f0' %>', prefectures: [<%= i + 1 %>]},
      <% end %>
    ]
  $(function(){
    $("#map-container").japanMap({
        width: 1000,
        areas :areas
      });
  });
</script>

<div id="map-container"></div>





<h1>ログインユーザーの投稿一覧</h1>

<%= search_form_for @q, url: posts_path do |f| %>
  <%= f.select :prefecture_eq, Post.prefectures_i18n.invert.map{|key, value| [key, Post.prefectures[value]]},
              { include_blank: t('--都道府県--') } %>

  <%= f.select :location_genre_eq, Post.location_genres_i18n.invert.map{|key, value| [key, Post.location_genres[value]]},
              { include_blank: t('--場所ジャンル--') } %>

  <%= f.submit "検索" %>

<% end %>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.get_image,size: "400x300" %>
    <%= link_to post.location_name, post_path(post.id) %>
    <%= post.address %>
    <%= post.memo %>
  </div>
  <div>
    <%= link_to post.user.name, user_path(post.user.id) %>
    <%= post.user.account_id %>
  <div>

<% end %>