<h1>ログインユーザーの投稿一覧</h1>

<% @posts.each do |post| %>
  <div>
    <%= image_tag post.image,size: "400x300" %>
    <%= post.location_name %>
    <%= post.address %>
    <%= post.memo %>
  </div>
  <div>
    <%= post.user.name %>
    <%= post.user.account_id %>
  <div>

<% end %>