<!DOCTYPE html>
<html>
  <head>
    <title>Nipponquest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>


  <div class="background-side">
   <div class="container text-center bg-white">

     <div class="row">

      <% unless controller_name == 'homes' || controller_name == "sessions"|| controller_name == "registrations" %>
       <div class="col-lg-3 mx-auto">
         <div class="sticky-top">
          <%= image_tag "NIPPONQUESTロゴ.png", style: 'width: 200px; height: auto;'%>
          <div class="pt-4">
            <%= image_tag current_user.get_profile_image,size: "200x150", size: "60x60" ,class:"rounded-circle"  %>
          </div>
          <h4 class="pt-4">
            <%= current_user.name %></br>
            <%= current_user.account_id %>
          </h4>
           <h4 class="mt-4">訪れた県:<%= current_user.posts.group(:prefecture).count.keys.size %>/47県</h4>
           <h4><%= image_tag "場所.png", size: "30x30" %> <%= current_user.posts.group(:location_genre).count["location"] || 0 %>件
                <%= image_tag "グルメ.png", size: "30x30" %> <%= current_user.posts.group(:location_genre).count["food"] ||0 %>件</h4>

          <div>
            <h4>フォロー<%= current_user.followings.count %>人</h4>
            <h4>フォロワー<%= current_user.followers.count %>人</h4>
          </div>
              <% if unchecked_notifications.any? %>
                 <%= link_to notifications_path(current_user) do %>
                   <%= image_tag "notifications" %>
                <% end %>
              <% else %>
                 <%= link_to notifications_path(current_user) do %>
                  <%= image_tag "no-notifications" %>
                <% end %>
              <% end %>

            <div class="mt-4 mb-4">

              <h3><%= link_to "みんなの投稿一覧", posts_path %></h3>
              <h3><%= link_to "いいねリスト", posts_favorite_path  %></h3>
              <h3><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></h3>

            </div>
            <div>
              <%= link_to new_post_path do %>
               <%= image_tag "新規作成.png" %>
              <% end %>
            </div>
        </div>
         </div>
        <% end %>

        <div class="col-lg-9 mx-auto">
          <%= yield %>
        </div>

      </div>
    </div>
  </div>


  </body>
</html>
